.selector-img {
	margin: 5px 0;
}

	.alert {
		margin-bottom: 0;
	}

/*	#selected-img-player {
		imag
	}*/

.vertical-align {
    display: flex;
    align-items: center;
}

.hidden {
	display:  none;
}

.flip-img-h {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}



/* <= */
	/* Laptops 991px */
	    @media screen and (max-width : 991px) {
	    	.hide-md {
	    		display: none;
	    	}
	    }
    /* Tablets 768px */ 
	    @media screen and (max-width : 768px) {
	    	.hide-sm {
	    		display: none;
	    	}

    /* Phones 640px */ 
	    @media screen and (max-width : 640px) {
	    	.hide-xs {
    			display: none;
    		}
    		#enemy-name-1, #enemy-name-2, #enemy-name-3 {
    			color: red;
    		}
    		.alert {
    			padding: 2px;
    		}
	    }

/* >= */
	/* Laptops 991px */
	    @media screen and (min-width : 991px) {}
	/* Tablets 768px */ 
    	@media screen and (min-width : 768px) {}
    /* Phones 640px */ 
    	@media screen and (min-width : 640px) {}